body {
  background-color: #FFFFFF;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Roboto', arial;
}
  * {
    box-sizing: border-box;
  }
nav {
display: flex;
justify-content: space-around;
background-color: #1f2937;
color: white;
margin-top:0;

}
.imagen{
width: 400px;
height:auto;

}

.logo {
   text-align: center; 
   
}
ul {
    list-style-type: none;
    display: flex;
    gap:20px;
    
   }

.firstSlab{
  display: flex;
  color: #F9FAF8;
  background-color: #1F2937;
  align-items: center;
  justify-content: center;
  padding: 90px;
}

.links {
  
display:flex;

align-items:center;

}
.container {
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;

}
.cuadritos{
  display:flex;
  flex-direction: row;
  gap:30px;

}
.baby {
flex: 1 1 auto;
width: 200px;
border-radius: 10px;
border: 2px solid #3882F6;


}
#cajitaText{
  max-width:200px;
  
  }

#inspirational{
  max-width: 800px;
  text-align: justify;
  font-size: 25px;
  opacity: 0.7;

}
#signature{

font-size: 20px;
align-self:center;
padding-left: 300px;

}
.thirdSlab {
background-color:#E5E7EB;


}

.container h1 {
  margin: 30px;
}

.left{
display:flex;
flex-direction: column;
text-align: left;
margin-right:45px;
flex-basis:420px;
}

.left p {
  opacity: 0.7;
}

a{
    text-decoration: none;
    color:white;
}
h1{padding:0;
margin:0;}

.footer {
  background-color: #1F2937;
  color: #fff;
  font-family: 'Roboto', arial;
  padding:20px;
}
.signs-button button {
  color: #fff;
  font-family: 'Roboto', arial;
  border-color: #fff;
  border-radius: 8px;
  background-color: #3882F6;
  padding: 5px 25px;
  font-size: 15px;
}
.sign-up {
  background-color: #3882F6 ;
  margin: 50px 100px;
  padding: 10px 80px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border-color: none;
  width: 800px;
  
}
.sign-item {
  flex: 1;
}

.signs-text {
  text-align: left;
}

.signs-text p {
  color: #fff;
  opacity: 0.7;
  width:500px;
}

h3 {
  width:300px;
  color: #fff;
  font-family: 'Roboto', arial;
  padding: 0;
  margin: 30px 0px 0px 50px;
}
.fourthSlab{
display:flex;
justify-content: center;
align-items: center;

}
